@page
@model DarBeya.Pages.Admin.Robes.DetailsModel

@{
    ViewData["Title"] = "Détails";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Robe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robe.nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robe.nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robe.prix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robe.prix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robe.taille)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robe.taille)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robe.type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robe.type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robe.disponibilite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robe.disponibilite)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Robe.RobeID">Details</a> |
    <a asp-page="./Index">Retour</a>
</div>
